<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-grow text-info" role="status">
  </div>
</div>
<div class="wrapper">
  <div class="container main">
    <div class="card" style="max-width: 40rem;">
      <div class="card-header text-center">
        My ToDo List
      </div>
      <ul *ngFor="let toDo of toDos" class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between" [class._red]="toDo.sortOrder === 1"
          [class._green]="toDo.sortOrder === 3" [class._gray]="toDo.sortOrder === 2">
          <div class="container">
            <div class="row">
              <div class="col">
                <input type="checkbox" aria-label="Checkbox for following text input" (click)="updateToDo(toDo)"
                  [checked]="toDo.isComplete">
              </div>
              <div class="col">
                <span class="description" [class._lineThrough]="toDo.sortOrder === 3"> {{toDo.description}}</span>
              </div>
              <div class="col">
                <span class="ms-auto dueDate" [class._due]="toDo.dueDate !== null"
                  [class._completed]="toDo.sortOrder === 3">{{toDo.dueDate}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
